.editor-titles {
    width: 100%;
}

.editor-title {
    width: calc(100%/3);
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.code-editor {
    background: rgb(88, 80, 78);
    color: white;
    border: 0;
    border-radius: 5px;
    width: calc(100%/3 - 5px);
    max-width: calc(100%/3 - 5px);
    box-sizing: border-box;
    height: 400px;
    outline: none;
    padding: 10px;
}
