.global-menu {
    background: rgb(53,48,48);
    outline: none;
    height: 25px;
    vertical-align: middle;
}

.global-dropdown {
    outline: none;
    background: rgb(53,48,48);
    color: white;
    border: 0;
    -webkit-appearance: none;
    line-height: 100%;
    font-size: 100%;
    vertical-align: middle;
    height: 25px;
}

.file-menu {
    width: 35px;
}
